a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2196f3;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    font: inherit;
    color: white; 
    cursor: pointer;
    border: none;
    width: 200px;
    height: 40px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    gap: 20px;
    justify-content: center;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    height: 70px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1c5c9c;
    &:hover,
    &:focus {
        color: white;
    }

}


.photo-card {
    height: 100%;
    background: #bfc0c1;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 100px #2196f3;
    border: 3px solid #1c5c9c;  
}


